<main>
    <div class="box-form">
        <h1>Bem vindo(a)</h1>
        <div class="box-inputs">
            <div>
                <label>Email</label>
                <input type="text" [(ngModel)]="conta.email">
            </div>
            <div>
                <label>Senha</label>
                <input type="password" [(ngModel)]="conta.senha">
            </div>
            @if (msg){
                <p>{{msg}}</p>
            }
        </div>
        <div class="box-buttons">
            <button class="btn-azul" (click)="entrar()">Entrar</button>
        </div>
        <a href="/signup">Ainda não possui conta? Cadastrar!</a>
    </div>
</main>